<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<header th:replace="fragments/header :: headerFragment"></header>
<div layout:fragment="content">
    내용 파트
</div>
<header th:replace="fragments/footer :: footerFragment"></header>
</body>
</html>